.component-selection-list {
}

.component-selection-list > li {
  margin-bottom: 0.5em;
}

.component-selection-list > li.selected {
  color: #f29723;
}

.component-selection-list > li > a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

